$btnBgColor: #1A1F16;
$TextColor: #1A1F16;
$bodyBg: #e5e5e5;
$dark: #000000;
$tertiray: #60695C;
$white: #ffffff;
$red: red;
$danger: #E5252C;
$shadow: 0px 4px 15px rgba(26, 29, 26, 0.45);
$green: #12805D;
$greenWhite: #02D693;

$btnBgColorLight: rgba(255, 255, 255, 0.13);
$bgColorLight: #212121;
$lightGray: #999;
$primaryColor: #CE93D8;
$textColorLight: rgba(255, 255, 255, 0.45);
$cardBgColor: rgba(255, 255, 255, 0.1);
$filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$headerBg: linear-gradient(179.71deg, rgba(255, 255, 255, 0.208) -100%, rgba(255, 255, 255, 0.0208) 100%);
$border: 1px solid rgba(255, 255, 255, 0.35);
$timeColor: rgba(255, 255, 255, 0.57);