@import '../../../styles/colors';
@import '../../../variables/variables';
@import '../../../variables/mixins';

.home {
    width: 100%;
    display: flex;
    // flex-direction: column;
    row-gap: 30px;

    .home-left {
        // width: 953px;
        width: 74.28%;
        // height: 97.4vh;


        .search {
            width: 54.88%;
            margin: 0 auto;

            &-name {

                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.02em;
                color: $tertiray;
                padding-left: 5px;
                margin-bottom: 8px;
            }

            &-input {
                width: 96.941%;
                height: 56px;
                border-radius: 13px;
                box-shadow: $shadow;
                padding: 8px 16px;
                background-color: $white;
                color: $TextColor;
                border: none;
                outline: none;
                opacity: 0.7;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;


                &::placeholder {
                    color: $TextColor;
                    opacity: 0.5;
                }
            }
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 35px;
            align-items: center;
            padding: 8px 16px 8px 0px;
            // overflow-y: scroll;
            // height: 88%;

            .product {
                padding: 16px;

                .product-top {
                    margin-bottom: 10px;

                    .product__img {
                        cursor: pointer;
                    }
                }

                .product-bottom {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    padding-left: 16px;
                    padding-right: 16px;

                    .product__name {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 24px;
                        color: $TextColor;
                    }

                    .product__model {
                        color: $tertiray;
                        font-size: 15px;
                        line-height: 19px;
                        letter-spacing: -0.02em;
                    }

                    .product-banner {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 13px 8px;

                        .product__price {
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 24px;
                            color: $TextColor;
                        }

                        .product__btn {
                            width: 34px;
                            height: 34px;
                            padding: 8px;
                            border-radius: 9px;
                            background-color: $btnBgColor;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .home-right {
        width: 25.9903%;
        height: 96vh;
        position: relative;

        &::before {

            content: "";
            display: inline-block;
            width: 3px;
            // height: 100%;
            background-color: $TextColor;
            opacity: 50%;
            position: absolute;
            top: 15px;
            bottom: 15px;
            border-radius: 5px;
        }
    }
}