<main class="checkout">
    <section class="checkout-left">
        <div class="shipping">
            <div class="shipping-left">
                <h1 class="shipping-title">Shipping Address</h1>

                <ng-container *ngFor="let adress of adressValues">
                    <div class="shipping-details">
                        <span class="text"> {{adress.fullName}} </span>
                        <span class="text"> {{adress.streetName}} </span>
                        <span class="text"> {{adress.city}}, {{adress.state}} </span>
                        <span class="text"> {{adress.country}} </span>
                    </div>
                </ng-container>
            </div>
            <div class="checkbtn">
                <button routerLink="/adress" class="btn">
                    Change
                </button>
            </div>

        </div>
        <div class="shipping">
            <div class="shipping-left">
                <h1 class="shipping-title">Payment Method</h1>

                <div class="shipping-details">
                    <span class="text"> Mastercard <span class="green">ending in 1252</span></span>
                    <span class="text">123 Plae Grond Stret</span>
                    <span class="text">$ 53.21 <span class="green">gift card balance</span></span>
                    <span class="text">
                        Billing address same as Shipping Address
                    </span>
                </div>
            </div>
            <div class="checkbtn">
                <button routerLink="/payment" class="btn">
                    Change
                </button>
            </div>
        </div>
        <div>

            <app-cart-items [style]="'bag-item-conts'" [style2]="'bag-item2'" [isBanner]="true"
                [items]="basketValues"></app-cart-items>

        </div>
    </section>
    <section class="checkout-right">
        <div class="right-container">
            <div class="right-total">
                <h1 class="right-name">Order Summary</h1>
                <p class="price">
                    <span>Items:</span>
                    <span>$ 5849.37 </span>
                </p>
                <p class="price">
                    <span>Shipping:</span>
                    <span>$ 6.99</span>
                </p>
                <p class="price">
                    <span>Estimated GST:</span>
                    <span>$ 760.41 </span>
                </p>
                <p class="price">
                    <span>Gift Card:</span>
                    <span>$ 0.00</span>
                </p>
                <p class="total">
                    <span>Order Total:</span>
                    <span>$ 6609.78 </span>
                </p>
                <button class="rightBtn">Place your order</button>
            </div>
            <button class="closeBtn" routerLink="/bag">
                <i class="pi pi-chevron-left"></i>
                Back
            </button>
        </div>
    </section>
</main>